[core]
	excludesfiles = ~/.gitignore
	attributesfile = ~/.gitattributes
	autocrlf = input
	editor = code --wait -n
	trustctime = false
  whitespace=fix,space-before-tab,-indent-with-non-tab,trailing-space,cr-at-eol

[status]
	submodulesummary = 1

  # Sometimes a newly-added folder, since it's only one line in git status, can slip under the radar.
  # https://git-scm.com/docs/git-config#git-config-statusshowUntrackedFiles
  showUntrackedFiles = all

[apply]
	whitespace = fix

[branch]
	autosetuprebase = always
  autosetupmerge = true

[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow
	frag = magenta # line info
	old = red # deletions
	new = green # additions
	whitespace = red reverse

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[push]
	default = upstream

  # Because I get sick of telling git to do it manually
  # https://git-scm.com/docs/git-config#git-config-pushfollowTags
  followTags = true

# TODO: GUI client: source tree
[diff]
	tool = icdiff
  guitool = diffmerge
  submodule = log

[diff "bin"]
  textconv = hexdump -v -C

[difftool]
	prompt = true

[difftool "diffmerge"]
	cmd = "/usr/local/bin/diffmerge --nosplash \"$LOCAL\" \"$REMOTE\""

[difftool "icdiff"]
  cmd = icdiff --line-numbers -L \"$BASE\" -L \"$REMOTE\" \"$LOCAL\" \"$REMOTE\" | less

[merge]
	tool = diffmerge

  # Standard diff is two sets of final changes. This introduces the original text before each side's changes.
  # https://git-scm.com/docs/git-config#git-config-mergeconflictStyle
  conflictstyle = diff3

[mergetool]
	trustExitCode = false
	keepBackup = false
	prompt = false

[mergetool "diffmerge"]
  cmd = "/usr/local/bin/diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\""

[help]
	autocorrect = 1

[credential]
	helper = osxkeychain
