"*":
  "exception-reporting":
    userId: "c7458fb7-0174-7f62-8882-56e7a6d0a548"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
    excludeVcsIgnoredPaths: true
    disabledPackages: [
      "fonts"
      "emmet"
    ]
  editor:
    fontFamily: "\"Inconsolata-dz\", \"Consolas\", \"Source Code Pro\", \"Droid Sans Mono\", \"Courier New\", monospace"
    lineHeight: 1.25
    invisibles:
      eol: false
      cr: false
    zoomFontWhenCtrlScrolling: true
    softWrap: true
    softTabs: false
    showInvisibles: true
    tabLength: 2
    fontSize: 15
  whitespace:
    ensureSingleTrailingNewline: true
  "spell-check": {}
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  linter:
    showErrorInline: false
    statusBar: "Show error of the selected line"
    subtleLinterErrors: [
      "shellcheck"
    ]
  emmet: {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "atom-beautify":
    analytics: false
    beautifyEntireFileOnSave: false
    js_indent_with_tabs: false
    css_preserve_newlines: true
  "file-icons":
    coloured: false
  pigments: {}
  "highlight-line":
    hideHighlightOnSelect: true
  "todo-show": {}
  "save-session":
    dataSaveFolder: "/Users/asamoshkin/.atom/packages/save-session/projects"
  zentabs:
    maximumOpenedTabs: 8
    neverCloseUnsaved: true
  "markdown-preview": {}
