"*":
  "exception-reporting":
    userId: "c7458fb7-0174-7f62-8882-56e7a6d0a548"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
    excludeVcsIgnoredPaths: true
    disabledPackages: [
      "fonts"
      "emmet"
      "atom-ternjs"
    ]
    destroyEmptyPanes: true
  editor:
    fontFamily: "\"Inconsolata-dz\", \"Consolas\", \"Source Code Pro\", \"Droid Sans Mono\", \"Courier New\", monospace"
    lineHeight: 1.25
    invisibles:
      eol: false
      cr: false
    zoomFontWhenCtrlScrolling: true
    softTabs: false
    showInvisibles: true
    tabLength: 2
    fontSize: 11
    softWrap: true
  whitespace:
    ensureSingleTrailingNewline: true
  "spell-check": {}
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  linter:
    showErrorInline: false
    statusBar: "Show error of the selected line"
    subtleLinterErrors: [
      "shellcheck"
    ]
  emmet: {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "atom-beautify":
    analytics: false
    beautifyEntireFileOnSave: false
    js_indent_with_tabs: false
    css_preserve_newlines: true
  "file-icons":
    onChanges: true
    coloured: false
  pigments: {}
  "highlight-line":
    hideHighlightOnSelect: true
  "todo-show": {}
  "save-session":
    dataSaveFolder: "/Users/asamoshkin/.atom/packages/save-session/projects"
  zentabs:
    maximumOpenedTabs: 8
    neverCloseUnsaved: true
  "markdown-preview": {}
  "tree-view": {}
  "git-blame": {}
  "git-history":
    showDiff: false
  "linter-jscs":
    harmony: true
    messageType: "warning"
    onlyConfig: true
    verbose: true
  "linter-csslint": {}
  "atom-html-preview":
    triggerOnSave: true
  "autoclose-html": {}
  "atom-ternjs":
    lint: false
  "autocomplete-plus": {}
  "merge-conflicts": {}
  "git-log": {}
  docblockr: {}
  Zen:
    tabs: "multiple"
  "symbols-tree-view":
    scrollAnimation: false
  "linter-htmlhint": {}
  react: {}
